body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/138/588/original/pexels-phantomant-1222561.jpg?1723395224");
  background-repeat: no-repeat;
  width: 600px;
  background-position: center;
  background-color: rgb(244, 235, 235);
  background-attachment: fixed;
  background-size: contain;
}

.container {
  position: relative;
  display: block;

  margin: 30px auto;
  background-color: white;
}
